#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: ${vm_user}
    groups: [sudo]
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

ssh_pwauth: false

package_update: true
packages:
  - qemu-guest-agent
  - python3

runcmd:
  - systemctl enable --now qemu-guest-agent
  # marcador para comprovar que o cloud-init foi aplicado
  - echo "cloud-init aplicado em $(date -Is)" > /etc/cloud-init-aplicado.txt
