# OpenTofu / Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# Segredos
*.pem
id_rsa
id_ed25519
*.key

# Python
__pycache__/
*.pyc
.venv/

# Dados gerados localmente (mantenha apenas o exemplo)
dados/estoque.csv
